<%- include('../components/admin_template') %>
<main id="content">
  <div class="bg-transparent">
    <div class="sm:flex sm:items-center px-8 pt-4">
      <div class="sm:flex-auto">
        <h1 class="text-base font-medium leading-6 text-white"><%= req.translations.instances %></h1>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      
      </div>
    </div>
    <div id="nodeTable" class="mt-6 w-full">
      <table class="mt-6 w-full whitespace-nowrap text-left">
        <colgroup>
          <col class="w-full sm:w-4/12" />
          <col class="lg:w-4/12" />
          <col class="lg:w-2/12" />
          <col class="lg:w-4/12" />
          <col class="lg:w-1/12" />
          <col class="lg:w-1/12" />
        </colgroup>
        <thead class="bg-gray-700/25">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= req.translations.name %></th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= req.translations.node %></th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= req.translations.dockerID %></th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= req.translations.volumeANDMount %></th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= req.translations.remove %></th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= req.translations.unsuspend %></th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= req.translations.suspend %></th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= req.translations.edit %></th>
            <th><button
          id="createButton"
          type="button"
          class="transition px-4 py-2 text-sm font-medium text-white bg-blue-500 border border-blue-500 rounded-lg hover:bg-blue-600 hover:text-white focus:z-10 focus:ring-2 focus:ring-blue-600 focus:text-white"
        >
         <%= req.translations.createNewInstance %>
        </button></th>

          </tr>
          
        </thead>
        <tbody class="divide-y divide-white/5">
          <% instances.forEach(function(instance) { %>
            <tr>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white"><%= instance.Name %></td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-400"><%= instance.Node.name %></td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-400"><%= instance.ContainerId %></td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-400">/volumes/<%= instance.VolumeId %></td>
              <td><a href="/admin/instance/delete/<%= instance.Id %>" class="px-6 py-4 whitespace-nowrap text-sm text-gray-400"><%= req.translations.remove %></a></td>
            
              <% if (instance.suspended === true) { %>
                <td>
                  <form action="/admin/instances/unsuspend/<%= instance.Id %>" method="POST">
                    <button type="submit" class="px-6 py-4 whitespace-nowrap text-sm text-gray-400"><%= req.translations.unsuspend %></button>
                  </form>
                </td>
              <% } else { %>
                <td>
                  <form action="/admin/instances/suspend/<%= instance.Id %>" method="POST">
                    <button type="submit" class="px-6 py-4 whitespace-nowrap text-sm text-gray-400"><%= req.translations.suspend %></button>
                  </form>
                </td>
              <% } %>
            
              <td>
                <button onclick="location.href='/admin/instances/<%= instance.Id %>/edit'" class="px-6 py-4 whitespace-nowrap text-sm text-gray-400"><%= req.translations.edit %></button>
              </td>
            </tr>
            <% }); %>
            
        </tbody>
      </table>
    </div>
    <div id="nodeForm" class="hidden flex gap-4 mt-6 px-8 w-full">
      <div class="p-3 bg-transparent shadow-xl rounded-xl overflow-hidden sm:p-6 lg:p-10 card" style="width: 800px;">
          <form>
              <div class="grid grid-cols-2 gap-4">
                  <div>
                      <label class="text-white text-sm tracking-tight mb-2"><%= req.translations.name %>:</label>
                      <input id="name" class="rounded-xl focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-4 w-full hover:bg-gray-600 bg-gray-700 placeholder:text-white/20 border border-white/5" placeholder="My instance">
                  </div>
                  <div>
                      <label class="text-white text-sm tracking-tight mb-2"><%= req.translations.user %>:</label>
                      <select id="user" class="rounded-xl focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-4 w-full hover:bg-gray-600 bg-gray-700 placeholder:text-white/20 border border-white/5">
                          <% users.forEach(function(user) { %>
                              <option value="<%= user.userId %>" class="text-neutral-800 text-sm tracking-tight mb-2"><%= user.username %></option>
                          <% }); %>
                      </select>
                  </div>
                  <div>
                      <label class="text-white text-sm tracking-tight mb-2"><%= req.translations.image %>:</label>
                      <select id="image" class="rounded-xl focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-4 w-full hover:bg-gray-600 bg-gray-700 placeholder:text-white/20 border border-white/5">
                          <% images.forEach(function(image) { %>
                              <option value="<%= image.Image %>" class="text-neutral-800 text-sm tracking-tight mb-2" data-configfilepath="<%= image.ConfigFilePath %>" data-imagename="<%= image.Name %>" data-configfilecontent="<%= image.ConfigFileContent %>" data-variables="<%= JSON.stringify(image.Variables) %>"><%= image.Name %> (<%= image.Image %>)</option>
                          <% }); %>
                      </select>
                  </div>
                  <div>
                      <label class="text-white text-sm tracking-tight mb-2"><%= req.translations.node %>:</label>
                      <select id="node" class="rounded-xl focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-4 w-full hover:bg-gray-600 bg-gray-700 placeholder:text-white/20 border border-white/5">
                          <% nodes.forEach(function(node) { %>
                              <option value="<%= node.id %>" class="text-neutral-800 text-sm tracking-tight mb-2"><%= node.name %></option>
                          <% }); %>
                      </select>
                  </div>
                  <div>
                      <label class="text-white text-sm tracking-tight mb-2"><%= req.translations.memory %> (MiB):</label>
                      <input id="memory" class="rounded-xl focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-4 w-full hover:bg-gray-600 bg-gray-700 placeholder:text-white/20 border border-white/5" placeholder="2048">
                  </div>
                  <div>
                      <label class="text-white text-sm tracking-tight mb-2"><%= req.translations.cpuThreads %>:</label>
                      <input id="cpu" class="rounded-xl focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-4 w-full hover:bg-gray-600 bg-gray-700 placeholder:text-white/20 border border-white/5" placeholder="1">
                  </div>
                  <div>
                      <label class="text-white text-sm tracking-tight mb-2"><%= req.translations.ports %>:</label>
                      <input id="ports" class="rounded-xl focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-4 w-full hover:bg-gray-600 bg-gray-700 placeholder:text-white/20 border border-white/5" placeholder="25565:25565,8080:8080">
                  </div>
                  <div>
                      <label class="text-white text-sm tracking-tight mb-2"><%= req.translations.primaryPort %>:</label>
                      <input id="primary" class="rounded-xl focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-4 w-full hover:bg-gray-600 bg-gray-700 placeholder:text-white/20 border border-white/5" placeholder="25565">
                  </div>
              </div>
              <div class="mt-4">
                  <button id="createNodeBtn" type="button" class="mt-8 transition px-4 py-2 text-sm font-medium text-white bg-blue-500 border border-blue-500 rounded-lg hover:bg-blue-600 hover:text-white focus:z-10 focus:ring-2 focus:ring-blue-600 focus:text-white">
                      <%= req.translations.create %>
                  </button>

              </div>
          </form>
      </div>
      <div id="secondCard" class="p-3 bg-transparent shadow-xl rounded-xl overflow-hidden sm:p-6 lg:p-10 card hidden" style="width: 800px;">
          <form id="variablesForm">
          </form>
      </div>
  </div>
  


  
</main>
<script>
document.getElementById('image').addEventListener('change', function(event) {
    var selectedOption = event.target.options[event.target.selectedIndex];
    var variables = selectedOption.getAttribute('data-variables');
    var secondCard = document.getElementById('secondCard');
    var variablesForm = document.getElementById('variablesForm');

    if (variables) {
        secondCard.classList.remove('hidden');
        variablesForm.innerHTML = '';
        variables = JSON.parse(variables);

        for (var key in variables) {
            if (variables.hasOwnProperty(key)) {
                var variable = variables[key];
                var fieldHtml = '';

                if (variable.type === 'text') {
                    fieldHtml = `
                        <div>
                            <label class="text-white text-sm tracking-tight mb-2">${key}:</label>
                            <input type="text" name="${key}" value="${variable.default || ''}" class="rounded-xl focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-4 w-full hover:bg-white/5 px-4 py-2 bg-gray-700 placeholder:text-white/20 " ${variable.required ? 'required' : ''}>
                        </div>
                    `;
                }

                variablesForm.insertAdjacentHTML('beforeend', fieldHtml);
            }
        }
    } else {
        secondCard.classList.add('hidden');
    }
});
</script>
<script>
document.getElementById('createButton').addEventListener('click', function() {
  var table = document.getElementById('nodeTable');
  var form = document.getElementById('nodeForm');
  if (table.style.display !== 'none') {
    table.style.display = 'none';
    form.style.display = 'flex';
  } else {
    table.style.display = 'flex';
    form.style.display = 'none';
  }

  const elem  = document.getElementById('image');
  elem.selectedIndex = 0;
  const event = new Event('change', {
    bubbles: true,
    cancelable: true
  });
  elem.dispatchEvent(event);

});

document.getElementById('image').addEventListener('change', function() {
  const selectedOption = this.options[this.selectedIndex];
  const cmd = selectedOption.getAttribute('data-cmd');
  const env = JSON.parse(selectedOption.getAttribute('data-env') || '{}');
});
</script>
<script>
document.getElementById('createNodeBtn').addEventListener('click', async function() {
  const createBtn = this;
  createBtn.textContent = 'Working on it...';
  createBtn.disabled = true;

  const name = document.getElementById('name');
  const memory = document.getElementById('memory');
  const cpu = document.getElementById('cpu');
  const ports = document.getElementById('ports');
  const imageDropdown = document.getElementById('image');
  const primaryPort = document.getElementById('primary');
  const selectedImage = imageDropdown.options[imageDropdown.selectedIndex];
  const configFilePath = selectedImage.getAttribute('data-configfilepath');
  let configFileContent = selectedImage.getAttribute('data-configfilecontent');
  const variablesForm = document.getElementById('variablesForm');
  
  const inputs = variablesForm.querySelectorAll('div > input');
  const variables = Array.from(inputs).reduce((acc, input) => {
      if (input.name) {
          acc[input.name] = input.value;
      }
      return acc;
  }, {});

  clearValidationErrors();

  let isValid = true;

  if (name.value.includes(' ')) {
      showError(name, 'Name must not contain spaces.');
      isValid = false;
  }

  if (!isPositiveInteger(memory.value)) {
      showError(memory, 'Memory must be an integer greater than 1.');
      isValid = false;
  }

  if (!isPositiveIntegerCpu(cpu.value)) {
      showError(cpu, 'CPU must be an integer greater than 0.');
      isValid = false;
  }

  const portPattern = /^(\d+:\d+)(,\d+:\d+)*$/;
  if (!ports.value.match(portPattern)) {
      showError(ports, 'Ports must be in the format "port:port,port:port".');
      isValid = false;
  }

  if (!primaryPort.value.match(/^\d+$/)) {
      showError(primaryPort, 'Primary port must be a valid number.');
      isValid = false;
  } else {
      configFileContent = configFileContent.replace('{{primaryPort}}', primaryPort.value);
  }

  if (!isValid) {
      createBtn.textContent = 'Create';
      createBtn.disabled = false;
      return;
  }

  const nodeData = {
      name: name.value,
      image: imageDropdown.value,
      imagename: selectedImage.getAttribute('data-imagename'),
      nodeId: document.getElementById('node').value,
      user: document.getElementById('user').value,
      memory: memory.value,
      cpu: cpu.value,
      ports: ports.value,
      primary: primaryPort.value,
      configFilePath: configFilePath,
      configFileContent: configFileContent,
      variables: JSON.stringify(variables)
  };

  await sendData(nodeData, createBtn);
});

function clearValidationErrors() {
  const inputs = document.querySelectorAll('.input-error');
  const messages = document.querySelectorAll('.error-message');
  inputs.forEach(input => input.classList.remove('input-error'));
  messages.forEach(msg => msg.remove());
}

function serializeParams(params) {
  return Object.keys(params)
      .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(params[key]))
      .join('&');
  }
  
function showError(element, message) {
  element.classList.add('input-error');
  const errorDiv = document.createElement('div');
  errorDiv.textContent = message;
  errorDiv.className = 'error-message';
  element.parentNode.insertBefore(errorDiv, element.nextSibling);
}

function isPositiveInteger(value) {
  const num = parseInt(value, 10);
  return Number.isInteger(num) && num > 1;
}

function isPositiveIntegerCpu(value) {
  const num = parseInt(value, 10);
  return Number.isInteger(num) && num > 0;
}

function sendData(nodeData, createBtn) {
  const baseUrl = '/instances/deploy';
  const queryParams = serializeParams(nodeData);
  const fullUrl = `${baseUrl}?${queryParams}`;

  fetch(fullUrl, {
      method: 'GET',
      headers: {
          'Content-Type': 'application/json'
      }
  })
  .then(response => {
      if (response.ok) {
          return response.json();
      } else {
          throw new Error('Failed to create instance');
      }
  })
  .then(data => {
window.location.href = '../admin/instances?err=CREATED'
      console.log('Instance created:', data);
      createBtn.textContent = 'Create';
      createBtn.disabled = false;
  })
  .catch(error => {
      console.error('Error creating instance:', error);
      alert('Error! Instance creation failed. Check the console for more details.');
      createBtn.textContent = 'Create';
      createBtn.disabled = false;
  });
}

function handleResponse(response) {
  if (response.ok) {
      return response.json();
  }
  throw new Error('Failed to create instance');
}

function handleError(error) {
  console.error('Error creating instance:', error);
  alert('Error! Check the console for more details.');
  createBtn.textContent = 'Create';
  createBtn.disabled = false;
}
</script>
<%- include('../components/footer') %>